# DO NOT MERGE UP TO `mindersec/`, THIS FILE APPLIES POLICY FOR CUSTCODIAN
# AND WILL NOT APPLY (MISSING PERMISSIONS) UPSTREAM.
name: Apply Minder Profiles on Update
on:
  push:
    branches:
    - main
    paths:
    - minder/**
  # Allow to run manually if needed.
  workflow_dispatch:

permissions:
  # id-token: write is needed to fetch a GitHub Actions token for other services
  id-token: write
  # contents: read is needed to checkout the current repo
  contents: read

jobs:
  minder-config:
    runs-on: ubuntu-latest
    steps:
    # TODO: enable pinning.
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: Apply Minder Config
      uses: custcodian/minder-action@1e797abf4f2b29378f70ca5c604c6a589b07e970  # Will be v1.1
      with:
        server: api.custcodian.dev
        project: github-custcodian
        # Apply all the policies in the minder directory, which should be synced
        # from other sources by the `policy-sync.yaml` workflow.
        directory: ./minder
